
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    border:0 none;/* 边框清0 这样写兼容性最好 */
}
ol, ul ,li{list-style: none;}

.clearfix:before, .container:after { content: ""; display: table; }
.clearfix:after { clear: both; }
/* IE 6/7 */
.clearfix { zoom: 1; }

html {
    color: #000;
    background-color: #fff;
}
body{
    color: #fff;
}
table {
    border-collapse: collapse;/* 无间距 */
    border-spacing: 0;/* 表格间空隙为0 */
}
em,strong,b,i {
    font-style: normal;
    font-style: normal;
}
ol,li {
    list-style: none;
}
h1,h2,h3,h4,h5 {
    font-size: 100%;
    font-weight: normal;
}
a {
    text-decoration: none;
}
.fr{
    float: right;
}
.fl{
    float: left;
}

/* common */
.main{
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 640px;
    background: url("../images/bg.jpeg")no-repeat top/100% 100%;
    margin: 0 auto;
    position: relative;
}
.main .main_top{
    position: absolute;
    top: 10px;
    left: 20px;
}
.main .main_top a{
    display: block;
    width: 100px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: pink;
    float: left;
}
.main .main_top a:hover{
    text-decoration: none;
    color: red;
}
.jumbotron{
    width: 100%;
    min-width: 320px;
    color: #000;
}
.table{
    margin-bottom: 0;
}
.container-fluid{
    padding-top: 50px;
}
label{
    font-size: 16px;
}
.form-control{
    max-width: 320px;
}